<launch>
  <arg name="local_robot_hostname" default="hsrb.local"/>
  <arg name="remote_robot_hostname" default="hsrb80.local"/>
  <arg name="local_robot_env-loader" default="/home/hsr-user/env.sh"/>
  <arg name="local_robot_user" default="hsr-user"/>
  <arg name="local_robot_password" default="hsruser"/>
  <arg name="channels" default="4"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="dataset_name"/>
  
  <machine name="robot" address="$(arg local_robot_hostname)" env-loader="$(arg local_robot_env-loader)" user="$(arg local_robot_user)" password="$(arg local_robot_password)"/>

  <param name="ssl/channels" value="$(arg channels)"/>
  <param name="ssl/sample_rate" value="$(arg sample_rate)"/>

  <node machine="robot" name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket">
    <param name="authenticate" value="false" />
    <param name="port" value="9090"/>
    <param name="address" value=""/>
    <param name="retry_startup_delay" value="5"/>
    <param name="fragment_timeout" value="600"/>
    <param name="delay_between_messages" value="0"/>
    <param name="max_message_size" value="None"/>
    <param name="topics_glob" value="[*]"/>
    <param name="services_glob" value="[*]"/>
    <param name="params_glob" value="[*]"/>
    <param name="bson_only_mode" value="false"/>
  </node>

  <!-- publish audio data as wav format -->
  <node machine="robot" name="audio_capture" pkg="audio_capture" type="audio_capture">
    <param name="device" value="" />
    <param name="format" value="wave" />
    <param name="channels" value="$(arg channels)" />
    <param name="depth" value="16" />
    <param name="sample_rate" value="$(arg sample_rate)" />
  </node>

  <node machine="robot" name="ssl_bridge" pkg="sound_source_localization" type="bridge.py">
    <param name="remote_robot_hostname" value="$(arg remote_robot_hostname)"/>
  </node>

  <!-- main node -->
  <node name="ssl_record" pkg="sound_source_localization" type="record.py" output="screen">
    <param name="save_dir" value="$(find sound_source_localization)/data/$(arg dataset_name)"/>
  </node>
</launch>
